.logo {
  padding-top: 10px;
  width: 4rem;
  @include mobile {
    padding-top: 7px;
  }
}

.mapIcon {
  text-align: center;
  width: 10rem;

  @include mobile{
    text-align: right;
    margin-right: 1rem;
  }
}
.map,
.menu {
  width: 2.3rem;
}

.menuIcon {
  text-align: center;
  width: 10rem;
  @include mobile {
    text-align: left;
    margin-left: 1rem;
  }
}
