.logo {
  padding-top: 10px;
  width: 20%;
  @include mobile {
    width: 40%;
    padding-top: 7px;
  }
}

.imgLeftArrow{
  width: 2.5rem;
  height: 2.5rem;

 &:hover{
  cursor: pointer;
 }
}

.mapIcon {
  text-align: center;
  width: 10rem;

  @include mobile{
    text-align: right;
  }
}
.map{
  width: 2.3rem;
}

.seeMoreBtn{
  background-color: $btn;
  color: $tertiary;
  border: 2px solid red;
  border-radius: 5px;
  width: 5rem;
  height: 2rem;

  &:hover{
    background-color: $tertiary;
    color: $primary;
    transform: scale(1.09);
    cursor: pointer;
  }
}

.reseauLogos{
  margin-top: 1rem;
  padding: 8px;
  width: 3rem;
  border: 2px solid $tertiary;
  border-radius: 3rem;
  &:hover{
    transform: rotate(360deg);
    transition: all 0.5s ease-in-out 0s;
    box-shadow: inset $secondary -5px -2px 5px 0px;
  }
}