$primary: black;
$secondary: red;
$tertiary: white;
$border: grey;
$cardsShadow: rgba(0, 0, 0, 0.623);
$shadow:#c7c5c5;
$shadowHover:#ff0000a3;
$price:darkblue;
$miniCards:#ffa600;
$cream: skyblue;
$btn: rgba(0, 0, 0, 0.897);
$font-1: "Kalam", cursive;
$font-2: "Racing Sans One", cursive;
$font-3: "Sriracha", cursive;