.footerContainer {
  @include column-flexWrapNW-alignItemsC;
    border: 2px solid $secondary;
    box-shadow: 2px 1px 10px 0px $cardsShadow;
    background-color:$primary;
    height: auto;
  }

  .footerLogoContainer{
    padding: 10px;
    text-align: center;
    background-color: $tertiary;
    height: 5rem;
  
  }

  .footerLogo{
    width: 4rem;
    background-color:$tertiary;
  }

  .footerInfosContainer{
    @include row-alignItemsS;
    padding-bottom: 15px;
    width: 95%;
    padding: 10px;

    @include tablet{
      flex-direction: column;
      text-align: center;
    }
    @include mobile{
        flex-direction: column;
        text-align: center;
    }
  }

  .footerCardContainer{
    @include column-flexWrapNW;

    @include mobile{
      margin-bottom: 1rem;
    }
  }
  .footerTitles{
    font-family: $font-3;
    font-size: 25px;
    color: $secondary;

    @include mobile{
      font-size: 21px;
    }
  }

  .footerCard{
    @include column-alignItemsC;
  }

  .footerCardLinks{
    font-size: 24px;
    list-style: none;
    text-decoration: none;
    color: $tertiary;

    @include mobile{
      font-size: 20px;
    }
  }

  .footerCardContactLinks{
    @include row-justContSB-alignItemsFE;
    font-size: 24px;
    list-style: none;
    text-decoration: none;
    color: $tertiary;
    padding-right: 5rem;
    margin-bottom: 1.2rem;

    @include tablet{
      flex-direction: column;
      align-items: center;
      padding-right: 0;
    }
    @include mobile{
      flex-direction: column;
      align-items: center;
      font-size: 20px;
      padding-right: 0;
    }
  }

  .footerReseauLogos{
    @include column-flexWrapNW-alignItemsC;

    @include tablet{
      flex-direction: row;
    }
    @include mobile{
      flex-direction: row;
    }
  }

  .footerCardReseauLinks{
    @include column-alignItemsFS;
    margin-bottom: 1.2rem;
    padding-left: 3rem;

    @include tablet{
      padding-left: 0;
      align-items: center;
    }
    @include mobile{
      padding-left: 0;
      align-items: center;
    }
  }