.footerContainer {
  @include column-flexWrapNW-alignItemsC;
    border: 2px solid $secondary;
    box-shadow: 2px 1px 10px 0px $cardsShadow;
    background-color:$primary;
    height: auto;
  }

  .footerLogoContainer{
    padding: 10px;
    text-align: center;
    background-color: $tertiary;
  }

  .footerLogo{
    width: 4%;
    background-color:$tertiary;

    @include mobile{
      width: 20%;
    }
  }

  .footerInfosContainer{
    @include row-alignItemsS;
    padding-bottom: 15px;
    width: 95%;
    padding: 10px;

    @include mobile{
        flex-direction: column;
        text-align: center;
    }
  }

  .footerCardContainer{
    @include column-flexWrapNW;

    @include mobile{
      margin-bottom: 1rem;
    }
  }
  .footerTitles{
    font-family: $font-3;
    font-size: 25px;
    color: $secondary;

    @include mobile{
      font-size: 21px;
    }
  }

  .footerCard{
    @include column-alignItemsC;
  }

  .footerCardLinks{
    font-size: 24px;
    list-style: none;
    text-decoration: none;
    color: $tertiary;

    @include mobile{
      font-size: 20px;
    }
  }

  .footerReseauLogos{
    @include row-flexwrapNW-alignItemsC;
  }