.headerContainer {
  @include row-flexwrapNW-alignItemsC;
  border: 2px solid $secondary;
  box-shadow: 2px 1px 10px 0px $primary;
  position: fixed;
  background-color: $tertiary;
  height: 5.5rem;
  z-index: 1;
  @include mobile {
    flex-direction: column;
  }
}

.leftArrowContainer {
  width: 10%;

  @include mobile {
    width: 20%;
  }
}

.logoContainer {
  text-align: center;
  width: 20%;

  @include mobile {
    position: absolute;
    width: 50%;
  }
}

.titleContainer {
  text-align: center;
  width: 50%;

  @include mobile {
    width: 0;
  }
}

.restoLink {
  text-decoration: none;
  list-style: none;
}

.restoTitle {
  font-family: $font-2;
  font-size: 3.3rem;
  color: $primary;

  @include tablet {
    font-size: 1.8rem;
  }
  @include mobile {
    visibility: hidden;
    height: 0;
  }
}

.mapMenuContainer {
  @include row-flexwrapNW-justContSA-alignItemsC;
  width: 10%;

  @include mobile {
    width: 100%;
    height: 5rem;
    align-items: flex-end;
  }
}
