.headerContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 2px solid red;
    box-shadow: 2px 1px 10px 0px black;
    position: fixed;
    background-color: white;
    height: 5rem;

    @include mobile{
        flex-direction: column;
}
}

.logoContainer{
  text-align: center;
  width: 25rem;
  @include mobile{
    position: absolute;
  }
}

.titleContainer{
    text-align: center;

    @include mobile{
        width: 0;
    }
}

.restoLink{
    text-decoration: none;
    list-style: none;
}
#restoTitle{
    font-family: $font-2;
    font-size: 3.3rem;
    color: black;

    @include mobile{
        visibility: hidden;
        height: 0;
    }
}

.cardContainer{

    width: 20rem;

    @include mobile{
        width: 0;
    }
}

#restoCard{

    @include mobile{
        visibility: hidden;
        height: 0;
    }
}

.mapMenuContainer{
    display: flex;
    width: 11rem;
    flex-wrap: nowrap;
    flex-direction: row;

    @include mobile{
        width: 100%;
        height: 5rem;
        flex-direction: row-reverse;
        align-items: flex-end;
    }
}