.mainContainer {
  @include column-alignItemsC;
  // padding-top: 7.2rem;
  padding-top: 9%;

  @include tablet{
    padding-top: 12%;
  }

  @include mobile{
    padding-top: 40%;
  }
}

.deliciousBanner {
  @include justContC-alignItemsC;
  background-color: $primary;
  width: 100%;
  height: 15rem;

  @include mobile {
    height: 12rem;
  }
}

.deliciousContainer {
  width: 25%;
  height: 90%;
  border: 3px solid $secondary;
  box-shadow: -4px 3px 5px 0px $primary;
  background-color: $tertiary;
  background-size: contain;
  overflow: hidden;

  @include tablet{
    height: 85%;
    width: 35%;
  }

  @include mobile {
    height: 85%;
    width: 84%;
  }

  background-color: $tertiary;
  background-image: url("/Images/Logos/Logo-1.webp");
  background-size: contain;
  animation: defilement 8s cubic-bezier(1, -0.88, 0.27, 1.55) infinite;
}

@keyframes defilement {
  0% {
    background-image: url("Images/Sandwich/SandwichBanner.webp");
    background-repeat: no-repeat;
  }
  50% {
    background-image: url("Images/Burgers/BurgerBanner.webp");
    background-repeat: no-repeat;
  }
  100% {
    background-image: url("Images/Pizza/PizzaBanner.webp");
    background-repeat: no-repeat;
  }
}

.deliciousSlides {
  width: 100%;
  height: 0;
  background-size: contain;
}

.meals {
  width: 100%;
  height: 40rem;
  @include column-justContSE-alignItemsC;
  @include tablet {
    height: 30rem;
  }
  @include mobile {
    overflow: scroll;
    height: 114rem;
    justify-content: flex-end;
  }
}

.mealsPart1,
.mealsPart2 {
  @include row-justContSA;
  width: 80%;
  height: auto;

  @include tablet {
    width: 95%;
  }

  @include mobile {
    @include column-alignItemsC
  }

}

.mealsCards {
  @include column-justContSE-alignItemsC;
  width: 20%;
  height: 15rem;
  background-color: $tertiary;
  box-shadow: -4px 3px 5px 0px $shadow;

  &:hover {
    box-shadow: 2px 2px 5px 0px $shadowHover;
    cursor: pointer;
    transform: rotate(2deg);
  }

  @include tablet {
    width: 25%;
    height: 11rem;
  }
  @include mobile {
    width: 90%;
    height: 13rem;
    margin-bottom: 1rem;
  }
}

.mealsLinks {
  @include column-justContSA-alignItemsC;
  height: 5rem;
  text-decoration: none;
  list-style: none;
}

.mealsImg {
  width: 70%;
  height: auto;

  @include mobile{
    width: 60%;
  }
}

.infosMeals {
  @include column-alignItemsC;
}

.mealsTitles {
  text-align: center;
  font-family: $font-2;
  color: $primary;
  font-size: 25px;

  @include tablet {
    font-size: 20px;
  }
}