#burgerContainer,
#pizzaContainer,
#sandwichContainer,
#saladContainer,
#chipsContainer,
#extraContainer,
#kidsMealsContainer,
#dessertContainer {
  width: 95%;
  background-color: $tertiary;
}

.burgersTitle,
.menusDuosTitle,
.pizzasTitle,
.pizzWichTitle,
.sandwichsTitle,
.saladsTitle,
.chipsTitle,
.extrasTitle,
.kidsMealsTitle,
.dessertTitle {
  @include row-flexWrapW-justContSA-alignItemsC;
  background-color: $secondary;
  text-align: center;
  width: 30%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: $tertiary;
  font-size: 2.5rem;
  font-family: $font-1;

  @include tablet {
    width: 50%;
    font-size: 2rem;
  }

  @include mobile {
    width: 100%;
  }
}

.burgersBlocks,
.pizzasBlocks,
.sandwichsBlocks,
.chipsBlocks,
.kidsMealsBlocks {
  @include row-flexWrapW-alignContSA-justContFS;
  height: auto;

  @include mobile {
    flex-direction: column;
  }
}

.burgersBlockBox {
  @include column-justContSE-alignItemsC;
  background-color: $tertiary;
  width: 14rem;
  height: 16rem;
  margin-bottom: 1.3rem;
  margin-right: 3.5rem;
  box-shadow: -1px 1px 5px 0px $shadow;

  @include tablet {
    width: 22%;
    height: 12rem;
    margin-right: 1rem;
  }

  @include mobile {
    width: 100%;
    margin-right: 0;
  }
}

.burgersBlocks4,
.burgersBlocks3 {
  @include row-flexWrapW-justContFS;
  @include mobile {
    justify-content: center;
  }
}

.burgerMiniTitle,
.pizzaMiniTitle,
.sandwichMiniTitle,
.saladMiniTitle,
.chipsMiniTitle,
.extraMiniTitle,
.kidsMealsMiniTitle,
.dessertMiniTitle {
  font-size: 25px;
  font-family: $font-2;
  width: 100%;
  text-align: center;
}

.imgBurgers,
.imgPizzas,
.imgChips,
.imgExtras,
.imgKidsMeals,
.imgDessert {
  width: 10rem;
  height: 7rem;

  @include tablet {
    width: 7rem;
    height: 5rem;
  }
}

.price {
  font-family: $font-2;
  font-size: 20px;
  width: 100%;
  text-align: center;
  color: $price;
}

.menusDuosContainer,
.pizzWichContainer {
  @include column-flexWrapNW;
  height: auto;
}

.imgDrinksFries {
  width: 4rem;
  height: 4rem;
}

.menusDuosBox {
  @include row-flexWrapW-alignContSB-justContSB-alignItemsS;
  height: auto;

  @include mobile {
    height: auto;
    width: 100%;
  }
}
.menusDuos,
.pizzWich {
  @include column-justContSE;
  border: 3px dashed $miniCards;
  width: 23%;
  text-align: center;
  margin-bottom: 2rem;

  @include tablet {
    justify-content: space-between;
  }

  @include mobile {
    width: 100%;
  }
}

.menusDuosOffers {
  font-family: $font-2;
  font-size: 30px;
  color: $secondary;

  @include tablet {
    font-size: 25px;
  }
}

.menuDuoMiniTitle,
.pizzWichMiniTitle {
  font-family: $font-3;
  font-size: 22px;
}

.pizzasBlockBox,
.sandwichsBlockBox {
  @include column-justContSE-alignItemsC;
  background-color: $tertiary;
  width: 30%;
  height: 16rem;
  margin-bottom: 1.3rem;
  margin-right: 3rem;
  box-shadow: -4px 6px 10px $shadow;

  @include tablet {
    width: 33%;
  }

  @include mobile {
    width: 100%;
    height: 13rem;
    margin-right: 0;
  }
}

.pizzaSizes {
  @include row-flexWrapNW-alignItemsFE;
  width: 75%;
  border: 3px dashed $miniCards;
  margin-bottom: 1rem;

  @include tablet {
    width: 100%;
  }

  @include mobile {
    width: 100%;
    flex-direction: column;
  }
}

.pizzaSizesInfos {
  @include row-flexwrapNW-alignItemsC;
  font-family: $font-2;
  color: $secondary;
  font-size: 30px;
  padding: 10px;
}

.pizzWichIntro {
  @include row-alignItemsB;

  @include mobile {
    flex-direction: column;
  }
}

.pizzWichBase {
  @include row-flexWrapNW-justContSB;
  font-family: $font-2;
  margin-bottom: 1.5rem;
  font-size: 30px;
  width: 25%;

  @include tablet {
    width: 30%;
    font-size: 28px;
  }

  @include mobile {
    font-size: 25px;
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0;
  }
}

.pizzWichBaseCream {
  color: $cream;
  width: 20%;
  font-size: 30px;
  font-family: $font-1;

  @include tablet {
    font-size: 28px;
  }

  @include mobile {
    font-size: 25px;
    width: 100%;
    text-align: center;
  }
}

.pizzWichBaseTomato {
  color: $secondary;
  width: 20%;
  font-size: 30px;
  margin-left: -8rem;
  font-family: $font-2;

  @include tablet {
    font-size: 28px;
  }

  @include mobile {
    font-size: 25px;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
}

.pizzWichBox {
  @include row-flexWrapW-alignContSB-justContSB-alignItemsS;

  @include mobile {
    justify-content: center;
  }
}

.infosPizza,
.infosPizzWich,
.infosSandwich,
.infosSalad,
.infosChips {
  font-size: 24px;
  font-family: $font-1;
  text-align: center;
  overflow: auto;
  height: 5rem;

  @include tablet {
    font-size: 20px;
  }

  @include mobile {
    height: auto;
  }
}

.infosSalad,
.infosExtra {
  font-size: 24px;
  font-family: $font-1;
  text-align: center;

  @include tablet {
    font-size: 20px;
  }
}

.imgSandwichs {
  width: 12rem;
  height: 6rem;

  @include tablet {
    width: 11rem;
    height: 4.5rem;
  }

  @include mobile {
    width: 10rem;
    height: 5rem;
  }
}

.saladsBlocks,
.chipsBlocks,
.kidsMealsBlocks {
  @include row-flexWrapW-alignContSA-justContFS;
  height: auto;

  @include mobile {
    justify-content: center;
  }
}

.saladsBlockBox,
.chipsBlockBox,
.kidsMealsBlockBox {
  @include column-justContSE-alignItemsC;
  margin-right: 3rem;
  background-color: $tertiary;
  width: 30%;
  height: 16rem;
  margin-bottom: 1.3rem;
  box-shadow: -4px 6px 10px $shadow;

  @include mobile {
    width: 100%;
    height: 14rem;
    margin-right: 0;
  }
}

.imgSalads {
  width: 12rem;
  height: 7rem;

  @include mobile {
    width: 10rem;
    height: 6rem;
  }
}

.extrasBlockBox,
.dessertsBlockBox {
  @include column-justContSE-alignItemsC;
  margin-right: 3rem;
  background-color: $tertiary;
  width: 28%;
  height: 17rem;
  margin-bottom: 1.3rem;
  box-shadow: -4px 6px 10px $shadow;

  @include tablet {
    width: 30%;
    height: 16rem;
    margin-right: 0;
  }

  @include mobile {
    width: 100%;
    height: 14rem;
  }
}

.price1,
.price2 {
  @include row-flexWrapNW;
  width: 50%;
}

.extrasBlocks,
.dessertsBlocks {
  @include row-flexWrapW-alignContSA-justContSB;
  height: auto;
}
